@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Satisfy&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --border: black;
  --size: 50;
}
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Poppins", sans-serif;
  background: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Satisfy", cursive;
  font-size: 5rem;
  font-weight: 300;
}
h3 {
  font-size: 2rem;
}
a {
  color: black;
  text-decoration: none;
}
button {
  height: 3em;
  width: 10em;
  background-color: white;
  outline: none;
  border: 1px solid green;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
}
/* main */
main {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.grid-container {
  width: 75vw;
  height: 75vw;
  max-height: 500px;
  max-width: 500px;
  text-align: center;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  position: relative;
  cursor: pointer;
  margin-bottom: 4rem;
}
.grid-container::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Hover Over Here!";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  width: 104%;
  height: 104%;
  position: absolute;
  left: -2%;
  top: -2%;
  z-index: -1;
  border: 10px solid rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  box-shadow: inset 4px 4px 4px black;
}
.grid-container.custom-border::before {
  border: 10px solid var(--border);
  opacity: 0.6;
}
.grid-container::after {
  content: "Current Single Square Dimension: " attr(data-dimension) " x "
    attr(data-dimension);
  /* background-color: white; */
  font-size: 1.25em;
  font-weight: bold;
  position: absolute;
  bottom: -2.5em;
  right: -1%;
  z-index: -1;
  border-radius: 5px;
  width: 102%;
  transition: all 0.5s ease-in-out;
}
.grid-container > * {
  transition: all 0.1s ease-in-out;
  box-shadow: 4px 4px 4px black;
}
.grid-container.grid-on > * {
  border: 1px dotted black;
}
.grid-container.shadow-off > * {
  box-shadow: none;
}
.current-color {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.color-buttons,
.util-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
[data-util="clear"]:hover {
  border: 4px solid green;
}
.utils {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.active {
  border: 4px solid green;
}
.slider {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  height: 3px;
  width: 20rem;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 20px;
  background: green;
  cursor: pointer;
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 20px;
  background: green;
  cursor: pointer;
  border-radius: 10px;
}
.slider:hover {
  opacity: 1;
}
.slider::after {
  content: attr(data-dimension);
  color: black;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 1rem;
}
