*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --border: black;
  --size: 50;
}
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  min-height: 100vh;
}
h1 {
  font-size: 3rem;
}
button {
  height: 3em;
  width: 10em;
  background-color: white;
  outline: none;
  border: 1px solid green;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
}
/* main */
main {
  height: 100vh;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 3rem;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.grid-container {
  width: 75vw;
  height: 75vw;
  max-height: 500px;
  max-width: 500px;
  text-align: center;
  display: grid;
  grid-template: repeat(var(--pixels), 1fr) / repeat(var(--pixels), 1fr);
  position: relative;
  cursor: pointer;
  margin-bottom: 4rem;
}
.grid-container::before {
  content: "";
  width: 106%;
  height: 106%;
  position: absolute;
  left: -3%;
  top: -3%;
  z-index: -1;
  border: 10px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 5px; */
  transition: all 0.5s ease-in-out;
  box-shadow: inset 4px 4px 4px var(--border), inset -4px -4px 4px var(--border);
}
.grid-container.custom-border::before {
  border: 10px solid var(--border);
  opacity: 0.6;
}
.grid-container::after {
  content: "Current Square Size: " attr(data-dimension) " x "
    attr(data-dimension);
  background-color: white;
  font-size: 1.75em;
  position: absolute;
  bottom: -2.5em;
  right: -1%;
  z-index: -1;
  /* border-bottom: 2px dashed var(--border);
  border-top: 2px dashed var(--border);
  border-left: 2px dashed var(--border);
  border-right: 2px dashed var(--border); */
  border-radius: 5px;
  width: 102%;
  transition: all 0.5s ease-in-out;
}
.grid-container > * {
  transition: all 0.1s ease-in-out;
}
.grid-container.grid-on > * {
  border: 1px dotted black;
}
.current-color {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.color-buttons,
.util-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.util-button:hover {
  border: 4px solid green;
}
.utils {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.active {
  border: 4px solid green;
}
.slider {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  height: 3px;
  width: 20rem;
  /* padding-right: 5px; */
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 20px;
  background: green;
  cursor: pointer;
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 20px;
  background: green;
  cursor: pointer;
  border-radius: 10px;
}
.slider:hover {
  opacity: 1;
}
.slider::after {
  content: attr(data-dimension);
  color: black;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 1rem;
}
